/*NotoSans*/
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    src: local('NotoSans'),
        url('NotoSans-Thin.woff2') format('woff2'), 
        url('NotoSans-Thin.woff') format('woff'),
        url('NotoSans-Thin.ttf') format('truetype'),
        url('NotoSans-Thin.otf') format('opentype'),
        url('NotoSans-Thin.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSans'),
        url('NotoSans-Regular.woff2') format('woff2'), 
        url('NotoSans-Regular.woff') format('woff'),
        url('NotoSans-Regular.ttf') format('truetype'),
        url('NotoSans-Regular.otf') format('opentype'),
        url('NotoSans-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: local('NotoSans'),
        url('NotoSans-Bold.woff2') format('woff2'), 
        url('NotoSans-Bold.woff') format('woff'),
        url('NotoSans-Bold.ttf') format('truetype'),
        url('NotoSans-Bold.otf') format('opentype'),
        url('NotoSans-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 900;
    src: local('NotoSans'),
        url('NotoSans-Black.woff2') format('woff2'), 
        url('NotoSans-Black.woff') format('woff'),
        url('NotoSans-Black.ttf') format('truetype'),
        url('NotoSans-Black.otf') format('opentype'),
        url('NotoSans-Black.eot') format('embedded-opentype');
}

/*NotoSans*/

/*서울한강체*/
@font-face {
    font-family: 'seoulhangangregular';
    src: url('SeoulHangang.eot');
    src: url('SeoulHangang.eot?#iefix') format('embedded-opentype'),
         url('SeoulHangang.woff2') format('woff2'),
         url('SeoulHangang.woff') format('woff'),
         url('SeoulHangang.ttf') format('truetype'),
         url('SeoulHangang.svg#seoulhangangregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'seoulhangang_smart_bregular';
    src: url('SeoulHangangB.eot');
    src: url('SeoulHangangB.eot?#iefix') format('embedded-opentype'),
         url('SeoulHangangB.woff2') format('woff2'),
         url('SeoulHangangB.woff') format('woff'),
         url('SeoulHangangB.ttf') format('truetype'),
         url('SeoulHangangB.svg#seoulhangang_smart_bregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*서울한강체*/